* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #edf9fc;
}

main {
  padding-bottom: 2em;
}

/* Loading Indicator Styles */
.loadingIndicator {
  position: fixed;
  top: 0; /* Mengubah posisi ke atas layar */
  left: 0;
  width: 100vw; /* Lebar penuh layar */
  height: 100vh; /* Tinggi penuh layar */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  z-index: 9999; /* Pastikan berada di atas konten lain */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.75
  ); /* Warna hitam dengan transparansi 75% */
  z-index: -1; /* Agar berada di belakang loading dots */
}

.dots-loader,
.text-load {
  display: relative;
  z-index: 1;
  align-items: center;
}

.dot {
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background-color: black;
  border-radius: 70%;
  animation: bounce 1.6s infinite ease-in-out;
}

.dot:nth-child(2) {
  animation-delay: 0.4s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

.loadingIndicator {
  display: none; /* Secara default tidak terlihat */
}

.loadingIndicator.show {
  display: flex; /* Tampilkan saat ada class "show" */
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
}

.text-load {
  margin-left: 10px;
  font-size: 1rem;
}

/* Footer */
footer {
  display: flex;
  background-color: #d1f4fa;
  height: 60px;
  align-items: center;
  justify-content: center;
  bottom: 0;
  margin-top: 72px;
  color: black;
  padding: 15px;
  font-size: 12px;
}

/* Media Query */
@media screen and (max-width: 768px) {
  nav {
    padding: 20px;
  }

  .wrapper {
    padding-top: 20%;
  }

  .wrapper .form-wrapper {
    width: 50%;
  }
  .note-wrapper {
    padding-top: 20%;
  }

  .note-form-wrapper {
    padding: 1.5em;
    max-width: 80%; /* Memperluas form di layar kecil */
  }

  .note-form .form-title input,
  .note-form .form-description textarea,
  .note-form .form-group button {
    font-size: 0.9rem; /* Mengurangi ukuran font */
    padding: 8px;
  }
}

@media screen and (max-width: 576px) {
  nav {
    padding: 16px;
  }

  .wrapper {
    padding-top: 30%;
  }

  .note-wrapper {
    padding-top: 40%;
  }

  .note-form-wrapper {
    padding: 1em;
    max-width: 200px;
    align-items: center;
    justify-items: center;
  }

  .note-form .form-title input,
  .note-form .form-description textarea,
  .note-form .form-group button {
    font-size: 0.8rem; /* Mengurangi ukuran font lebih lanjut */
    padding: 6px;
  }
}
